
.container-1{
    margin: auto;
}
.container-2{

    background: gray;
}
.container-3{

    background: green;

}
.container-4{

    background: hotpink;

}
.container-5{

    background: indianred;

}
.container-6{
    background: indigo;
}